body{
  background-image:url("https://cdn.discordapp.com/attachments/799595587402072085/802135938246377492/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  background-color: #000333;
  width: 98vw;
  background: linear-gradient(to right,#000333 , #042860);
  height: 80px;
  color: whitesmoke;
  box-shadow: 10px 5px 5px black;
}
/* Landing Page =---------------------------------------------------------------- Landing-page */
.heading{
  color: white;
  font-size: 4.6em;
  font-family: 'Lilita One', cursive;
}
.desc{
  color: white;
  font-size: 1.3em;
  margin-top:1.5em;
  margin-bottom: 1em;
}
.landing{
  display: -webkit-flex; /* targets Chrome, Safari */
  display:  -ms-flexbox; /* targets IE10*/
  display: flex;
  margin: 7em 2em 2em 2em ;
}
.signup , .contact{
  border: white 2px solid !important;
  margin-top: 5px;
  background-color: white;
  color: #140e2b;
  font-size: 20px;
  border-radius: 15px;
}
.row1, .row2, .row3, .row4{
  display: -webkit-flex; /* targets Chrome, Safari */
  display:  -ms-flexbox; /* targets IE10*/
  display: flex;
  justify-content: center;
}
.hex{
  height: 20em;
  width: 20em;
  background-color: whitesmoke;
  background-size: cover;
  clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
  margin: 4px;
  opacity: 0.5;
}
.hex:hover{
  opacity: 1;
  transform: perspective(300px) translateZ(30px);
}
.row2{
  transform: translateY(-5em)
}
.row3{
  transform: translate(-10em,-10em);
}
.row4{
  transform: translate(-10em,-15em);
}